extends layout/app.pug

block page 
   include chunk/header

   h1.title Главная!!!

   img(src="img/mashiny-b381cab.jpg", alt="Машина", width="500")

   ul.news 
      each item in news
         li= item.name 

   include chunk/footer